<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
	<title>Tasca 12 - Afegir i eliminar alumnes a una taula amb AngularJS</title>
	<!-- Llibreries de bootstrap afegides directament d'internet -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body style="background-color:silver" ng-controller="myCtrl">
	
	<div class="container">
		<br>
		<!-- Es mostrarà o no el formulari per entrar les dades del nou alumne al pitjar aquest botó" -->
		<button class="btn btn-secondary btn-block" ng-click="afegir = !afegir" ng-init="afegir=false">
			<span ng-if="!afegir">Afegir un nou alumne</span>
			<span ng-if="afegir">NO afegir un nou alumne</span>
		</button>
		<br>
		
		<!-- Llista d'alumnes -->
		<div class="card col-md-auto">
			
			<img class="card-img-top" src="img/studiants.jpg" alt="Card image cap">
			
			<div class="row">
				<div class="col-6">
					<h4 class="card-title">LLISTA D'ALUMNES</h4>
				</div>
				<div class="col-6">
					<h5 class="float-right">{{registre}}</h5>
				</div>
			</div>
			
			
			<!-- Definim taula en format de  "Hoverable rows" de Bootstrap -->
			<!-- Només la mostram si existeixen alumnes -->
			<table class="table table-hover" style="width:100%; text-align:center" ng-if="alumnes.length!=0">
				<thead><tr>
					<th>-</th>
					<th>DNI</th>
					<th>Nom</th>
					<th>Llinatges</th>
					<th>Correu electrònic</th>
					<th>Nota</th>
					<th>-</th>
				</tr></thead>
				<tr ng-repeat="alumne in alumnes">
					<td>{{$index+1}}</td>
					<td ng-repeat="x in alumne">{{x}}</td>
					<td><button type="button" class="btn btn-outline-danger btn-sm" ng-click="borrar($index)">X</button>
					</td>
				</tr>
			</table>
			
			<div class="card-footer">
				<!-- Pagina web creada per en Toni Caballero Salas -->
				<small class="text-muted">&nbsp&copy&nbspToni Caballero Salas</small>
			</div>
			
		</div>
	</div>
</div>

<!-- Es mostrarà el formulari per entrar les dades del nou alumne al pitjar el botó "Afegir un nou alumne" -->
<div id="formulari" ng-if="afegir">
	<form ng-submit="nouAlumne()">
		<div class="form-row">
			<div class="col-md-2 mb-3">
				<label for="dni">DNI :</label>
				<input	type="text"
				class="form-control" 
				id="dni" 
				placeholder="DNI"
				ng-model="alumne.dni"
				required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="nom">Nom :</label>
				<input	type="text"
				class="form-control"
				id="nom"
				placeholder="Nom de l'alumne"
				ng-model="alumne.nom"
				required>
			</div>
			<div class="col-md-6 mb-3">
				<label for="llinatges">Llinatges :</label>
				<input	type="text" 
				class="form-control" 
				id="llinatges" 
				placeholder="Llinatges de l'alumne" 
				ng-model="alumne.llinatges"
				required>
			</div>
		</div>
		<div class="form-row">
			<div class="col-md-6 mb-3">
				<!-- Establim el tipus com email per asegurar que el format serà correcte -->
				<label for="email">Correu electrònic :</label>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">@</span>
					</div>
					<input	type="email" 
					class="form-control" 
					id="email" 
					placeholder="Email de l'alumne" 
					aria-describedby="inputGroupPrepend2"
					ng-model="alumne.email" 
					required>
				</div>
			</div>
			<div class="col-md-2 mb-3">
				<!-- Establim com a mínim 0 i màxim 10 per assegurar que es una nota entre aquests valors amb step de 1 per demanar un nombre sencer -->
				<label for="nota">Nota :</label>
				<input	type="number" 
				class="form-control" 
				id="nota" 
				placeholder="Nota"
				min="0" 
				max="10"
				step="1"
				ng-model="alumne.nota" 
				required>
			</div>
			<div class="col-md-4 mb-3">
				<label for="button">&nbsp</label>
				<div>
					<button class="btn btn-secondary btn-block" type="submit">Afegir</button>
				</div>
			</div>
		</div>
	</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="js/controller.js"></script>
</body>
</html>
